@using ShopMVC.ViewModels;

@model SubviewViewModel

<div class="row">
    <div class="col-3">
        <div>
            @Html.Action(MVC.Categories.List())
        </div>
    </div>
    <div class="col-9">
        <div>
            <div class="col">
                @Html.Partial(Model.TargetView, Model.TargetViewModel)
            </div>
        </div>
    </div>
</div>