@using ShopMVC.ViewModels

@model ShoppingCartLinkViewModel

<a href="@Url.Action(MVC.ShoppingCart.ActionNames.Index, MVC.ShoppingCart.Name)" class="linkButton">
    Basket (<span id="cart-count">@Model.Count</span>) - <span id="cart-value">@Model.ValueDisp</span>
</a>
