body {
    font-size: 16px;
}

a.basket {
    width: 150px;
    padding: 5px;
    font-weight: bold;
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: #6c757d;
}

    a.basket:hover {
        color: #343a40;
        background-color: #f8f9fa;
        text-decoration: none;
    }
