body {
    font-size: 16px;
}

a.linkButton {
    min-width: 150px;
    padding: 5px;
    font-weight: bold;
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: #6c757d;
    border: 2px solid #262626;
}

    a.linkButton:hover {
        color: #343a40;
        background-color: #f8f9fa;
        text-decoration: none;
    }
