@model ShopMVC.ViewModels.CoursesListViewModel

@{
    ViewBag.Title = "Courses";
}

<div class="row">
    <form id="search-form" method="get" data-ajax="true" data-ajax-target="#courses">
        <input id="search-filter" 
               type="search"
               name="searchQuery"
               data-autocomplete-source="@Url.Action(MVC.Courses.ActionNames.CoursesPrompt)"
               placeholder="Search for courses..."
               style="width: 400px;" />
    </form>
</div>

<h2>@ViewBag.Title</h2>
<p>
    Category name: @Model.Category.Title
</p>

<div id="courses">
    @Html.Partial(MVC.Partial.Views._CoursesList, Model.Courses)
</div>


<script>
    $(function () {
        var setupAutoComplete = function () {
            var $input = $(this);

            var options = {
                source: $input.attr("data-autocomplete-source"),
                select: function (event, ui) {
                    $input = $(this);
                    $input.val(ui.item.label);
                    var $form = $input.parents("form:first");
                    $form.submit();
                }
            };

            $input.autocomplete(options);
        };

        var ajaxSubmit = function () {
            var $form = $(this);

            var settings = {
                data: $(this).serialize(),
                url: $(this).attr("action"),
                type: $(this).attr("method")
            }

            $.ajax(settings).done(function (result) {
                var $target = $($form.data("ajax-target"));
                var $content = $(result);
                $($target).replaceWith($content);
                $content.effect("slide");
            });

            return false;
        }

        $("#search-filter").each(setupAutoComplete);
        $("#search-form").submit(ajaxSubmit);
    });
</script>